@model RealtorsOffice.Models.RealEstateView.HouseViewModel


<div class="bg-dark">
    <div class="jumbotron bg-dark text-white jumbotron-margin container">
        <h1>@Html.DisplayFor(Model => Model.Name)</h1>
    </div>
</div>

<div class="bg-dark text-white">
    <div class="container">
        <div>



            <hr />

            <img src=" model => Model.Picture" width="1000" height="500" />

            <h5>Description</h5>

            <p class="card-text">Count Rooms: @Html.DisplayFor(Model => Model.CountRooms)</p>
            <p class="card-text">Number Rooms: @Html.DisplayFor(Model => Model.DistrictName)</p>
            <p class="card-text">Square: @Html.DisplayFor(Model => Model.Square)</p>
            <p class="card-text">Parking: @Html.DisplayFor(Model => Model.Parking)</p>
            <p class="card-text">Warming: @Html.DisplayFor(Model => Model.Warming)</p>
            <p class="card-text">Repair: @Html.DisplayFor(Model => Model.Repair)</p>
            <p class="card-text">Floors: @Html.DisplayFor(Model => Model.Floors)</p>
            <p class="card-text">Street Name: @Html.DisplayFor(Model => Model.StreetName)</p>

            <hr />

        </div>
        <ul class="navbar-nav">
            <li>
                <a href="@Url.Action("Edit", "House", new { id=Model.Id})" class="text-white">Редагувати</a>
            </li>
            <li>
                <a href="@Url.Action("List","House")" class="text-white">Назад до списку</a>
            </li>
        </ul>
        <p>
        </p>
    </div>
</div>


