@model IEnumerable<RealtorsOffice.Models.ApartmentsViewModel>


<div class="bg-dark text-white" style="margin-top:20px">
    <div class="container">
        @foreach (var item in Model)
            {
                <hr />

                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" width="1000" height="500"/>
                    
                <h5>Description</h5>

                <p class="card-text">Count Rooms: @Html.DisplayFor(modelItem => item.CountRooms)</p>
                <p class="card-text">Number Rooms: @Html.DisplayFor(modelItem => item.NumberRooms)</p>
                <p class="card-text">Square: @Html.DisplayFor(modelItem => item.Square)</p>
                <p class="card-text">Parking: @Html.DisplayFor(modelItem => item.Parking)</p>
                <p class="card-text">Repair: @Html.DisplayFor(modelItem => item.Repair)</p>
                <p class="card-text">Floor: @Html.DisplayFor(modelItem => item.Floor)</p>
                <p class="card-text">Street Name: @Html.DisplayFor(modelItem => item.StreetName)</p>
                    
                <hr />

            }

          </div>
    </div>
    
